.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 850px;
}

.heading {
  margin-top: 16px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.content {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.link {
  color: rgb(128, 198, 217);
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 590px) {
  .heading {
    font-size: 24px;
  }
  .content {
    font-size: 18px;
  }
  .link {
    font-size: 20px;
  }
}
